body {
  margin: auto;
  min-height: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: var(--background-color);
  background-image: url(@/assets/bg.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
  --background-color: #424242;
  --background-color-trans: #424242cc;
}

#app {
  overflow-x: clip;
}

hr {
  border: 1px dashed rgb(204, 204, 204);
  margin: 1em 12%;
}

.book-image {
  width: 8em;
  filter: drop-shadow(0.1em 0.1em 0.15em #666);
  align-self: center;
}

.book-index {
  color: #cde;
  text-align: left;
  font-size: 0.8em;
  flex: 1 0 0;
}

.book-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  align-items: baseline;
}

.print-only {
  display: none;
}

.main-image {
  width: 40%;
  float: right;
  padding: 2%;
  max-width: 30rem;
}

@media screen and (max-width: 37.5em) {
  .book-image {
    flex: 0 0 auto;
    width: 30vw;
    align-self: center;
  }

  h1 {
    font-size: 8vw;
  }

  .book-image {
    width: 30vw;
  }

  .main-image {
    width: 81vw;
    height: 54vw;
    float: none;
    padding: 2vw;
  }
}

@media print {
  body {
    font-size: 65%;
  }

  .print-only {
    display: block;
    color: #333;
    padding: 0.1em 2em;
    text-indent: -0.6em;
  }
}
